@import "../styles/base/_variable.scss";

.home-component {
    #container_home {
        #welcome_msg {
            @media only screen and (max-width: 640px) {
                padding: 0 1.5rem;
            }
            @include flex-center;
            flex-direction: column;
            > .text-msg {
                h1 {
                    @include text-head($neutral-4, 2.25rem, 800);
                }
                > h3 {
                    @media only screen and (max-width: 540px) {
                        > br {
                            display: none
                        }
                    }
                    @include text-head($neutral-3, 1rem, 500);
                }
            }
            > .other-info {
                .box-other-info {
                    @media only screen and (max-width: 850px) {
                        display: none;
                    }
                }
                .splide {
                    @media only screen and (min-width: 850px) {
                        display: none;
                    }
                }
                .siamik-highlight {
                    width: 240px;
                    height: 80px;
                    font-size: 14px;
                    border-radius: 10px;
                    background-color: white;
                }
            }
        }
        .box-content {
            .title-article {
                font-weight: 700;
                text-align: center;
            }
            &#pengumuman {
                .box-pengumuman {
                    > #date_pengumuman {
                        @include flex-center;
                        @include text-head($neutral-2, 1rem, 400);
                        > img {
                            margin-right: 0.75rem;
                        }
                    }
                    > #content_pengumuman {
                        margin-top: 1rem;
                        > h3 {
                            @include text-head($gray-900, 1rem, 600);
                        }
                        > p {
                            margin-top: 0.5rem;
                        }
                    }
                    > .btn-pengumuman {
                        @include transition(background-color, 0.2s);

                        @media only screen and (max-width: 411px) {
                            width: 100%;
                        }
                    }
                    > .btn-more-pengumuman {
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
                    }
                }
            }
            &#other_service {
                .container {
                    @include text-head($green-base, 1rem, 500);
                    > .box-other-service  {
                        padding: 1.25rem;
                        @include flex-center;
                        > button {
                            width: 100%;
                            font-size: 16px;
                            text-align: left;
                            border-radius: 5px;
                            padding: 0.25rem 0.5rem;
                        }
                    }
                } 
            }
            &#manual_panduan {
                .container {
                    #manual-list {
                        .item-list {
                            h3 {
                                @include text-head($gray-900, 20px, 600)
                            }
                            > .btn-manual {
                                @include transition(background-color, 0.2s);
                                @media only screen and (max-width: 480px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &#alur {
                .container {
                    #alur-list {
                        .item-list {
                            h3 {
                                @include text-head($gray-900, 20px, 600)
                            }
                            > .btn-alur {
                                @include transition(background-color, 0.2s);
                                @media only screen and (max-width: 480px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer {
    background-color: $green-base;
    section {
        padding: 4rem;
        @media only screen and (max-width: 639px) {
            padding: 2rem 1.5rem !important;
        }

        > #info_siamik {
            .box-item-info {
                .title-info-footer {
                    @include text-head($neutral-4, 20px, 600)
                }
                h2 {
                    @include text-head($neutral-4, 20px, 500)
                }
                > h3 {
                    @include text-head($neutral-3, 1rem, 400)
                }
    
                > ul {
                    > li {
                        @include text-head($neutral-3, 1rem, 500);
                        > a {
                            @include transition(color, .2s);
                            @media only screen and (min-width: 640px) {
                                &:hover {
                                    color: white;
                                }
                            }
                            &:active {color: white;}
                        }
                    }
                }
            }
        }

        > #copyright_sosmed {
            @media only screen and (max-width: 320px) {
                .box-copright-sosmed {
                    row-gap: 1rem;
                    flex-direction: column;
                }
            }
        }
    }

}