@import "../../base/_variable.scss";

.dosensignin-component {
    #container_dosensignin {
        form {
          .img-form {
            > p {
              color: $neutral-2;
            }
          }
            @media only screen and (max-width: 640px) {
                width: 90vw;
            }
            @media only screen and (max-width: 480px) {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
    }
}