@use '../../base/' as *;

footer {
    background-color: $green-base;
    section {
        padding: 2.5rem 1rem;
        // @media only screen and (max-width: 639px) {
        //     padding: 2rem 1.5rem !important;
        // }

        > #info_siamik {
            .box-item-info {
                .title-info-footer {
                    @include text-head($neutral-4, 20px, 600)
                }
                h2 {
                    @include text-head($neutral-4, 20px, 500)
                }
                > h3 {
                    @include text-head($neutral-3, 1rem, 400)
                }
    
                > ul {
                    > li {
                        @include text-head($neutral-3, 1rem, 500);
                        > a {
                            @include transition(color, .2s);
                            @media only screen and (min-width: 640px) {
                                &:hover {
                                    color: white;
                                }
                            }
                            &:active {color: white;}
                        }
                    }
                }
            }
        }
    }

}