@use '../../base/' as *;

.khs-component {
    #container_khs {
        #container_article_khs {
            .card-custom {
                @media only screen and (max-width: 411px) {
                    padding: 0.75rem;
                }
                .card-content-khs {
                    > h1 {
                        @include text-head($gray-900, 24px, 600)
                    }
                    > p{
                        @media only screen and (min-width: 640px) {
                            text-indent: 3.2rem;
                        }
                        > span {
                            font-weight: 600;
                            text-decoration: underline;
                            text-underline-offset: 2px;
                        }
                    }
                    .link-khs {
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 3px;
                            text-decoration-color: $green-base;
                        }
                    }
                }
                #card_table {
                    table {
                        th, td {
                            &:not(:last-child){
                                border-right: 1px solid $neutral-3;
                                border-bottom: 1px solid $neutral-3;
                            }
                        }
                    }
                }
            }
        }
    }
}
