@import "../../base/_variable.scss";

.kkn-component {
    #container_kkn {
        #container_article_kkn {
            .card-custom {
                @media only screen and (max-width: 411px) {
                    padding: 0.75rem;
                }
                .card-content-kkn {
                    > h1 {
                        @include text-head($gray-900, 24px, 600)
                    }
                    > p{
                        @media only screen and (min-width: 640px) {
                            text-indent: 3.2rem;
                        }
                        > span {
                            font-weight: 600;
                            text-decoration: underline;
                            text-underline-offset: 2px;
                        }
                    }
                    .link-kkn {
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 3px;
                            text-decoration-color: $green-base;
                        }
                    }
                    .btn-kkn {
                        @include transition(background-color, .2s)
                    }
                }
            }
        }
    }
}
